{% extends 'base.html.twig' %}


{% block titlepage %}Nouveau Article {% endblock %}

{% block content %}
<div class="content">
   <div class="card-header header-elements-inline" style="background-color: #007682b5;">
						<h3 class="card-title" style="color:white">Ajout nouveau Article</h3>
      <a class="btn btn-dark" style="width:170px" href="{{ path('app_article_index') }}"> <i class="icon-reply"></i>Liste des Articles</a>

                           </div>
                            <br />
   	<div class="card">
							
							<div class="card-body">


    {{ include('article/_form.html.twig') }}


   
{% endblock %}