{% extends 'layout.html.twig' %}
{% block body %}
<div id="content_wrapper">
  <!--page title Start-->

    <!--page title end-->
    <div class="clearfix"></div>
	
	<div class="full_width destinaion_sorting_section">
	  <div class="container">
	   <div class="row space_100">
<div id="confirmation" class="main_content_area">
                <div class="inner_container"> 
                  <!-- confirmation message -->
                  <div class="full_width confirmation_msg"> <span>Votre reservation est envoyée  <center>  <img src="{{ asset('client/assets1/images/courrier.gif')}}" alt="footer logo" width="10%" height="10%" /></center></span> </div>
                  <!-- confirmation message End--> 
                  <!--  tab inner three section Start -->
                          </div>
                           </div>
                           </div>
                           </div>
                           </div>
                           </div>
                        {%endblock%}