{% extends 'base.html.twig' %}

{% block titlepage %}Modifier Croisiere{% endblock %}

{% block content %}

<div class="content">

   <div class="card-header header-elements-inline" style="background-color: #007682b5;">
						<h3 class="card-title" style="color:white">Modifier Croisiere</h3>
						<div class="header-elements">
							 <a class="btn btn-dark" style="width:150px" href="{{ path('app_croisiere_user_index') }}"> <i class="icon-reply"></i>Liste des Croisieres</a>

	                	</div>
					</div>
					<br />
   	<div class="card">
							
							<div class="card-body">
    {{ include('croisiere_user/_form.html.twig', {'button_label': 'Modifier'}) }}
  
   
{% endblock %}