<form method="post" action="{{ path('app_croisiere_delete', {'id': croisiere.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: contents;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ croisiere.id) }}">
      <button class="btn btn-danger"  style="width:40px"><i class="icon-trash-alt"></i>  </button>
</form>