{% extends 'base.html.twig' %}


{% block titlepage %}Nouveau Excursion {% endblock %}

{% block content %}
<div class="content">
   <div class="card-header header-elements-inline" style="background-color: #007682b5;">
						<h3 class="card-title" style="color:white">Ajout nouveau Excursion Croisière</h3>
      <a class="btn btn-dark" style="width:250px" href="{{ path('app_croisiere_excursion_index') }}"> <i class="icon-reply"></i>Liste des Excursions Croisières</a>

                           </div>
                            <br />
   	<div class="card">
							
							<div class="card-body">


    {{ include('croisiere_excursion/_form.html.twig') }}


   
{% endblock %}