{% extends 'base.html.twig' %}

{% block titlepage %}Edit Client{% endblock %}

{% block content %}
    <h1>Edit Client</h1>

    {{ include('client1/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_client_index') }}">back to list</a>

    {{ include('client1/_delete_form.html.twig') }}
{% endblock %}
