{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" style="width:100px;margin-left: 90%;position: relative;"><i class="icon-floppy-disk"></i> {{ button_label|default('Save') }}</button>
{{ form_end(form) }}
