{% extends 'base.html.twig' %}

{% block titlepage %}Edit Article{% endblock %}

{% block content %}
  <div class="content">



   <div class="card-header header-elements-inline" style="background-color: #007682b5;">
						<h3 class="card-title" style="color:white">Modifier Avis</h3>
						<div class="header-elements">
							 <a class="btn btn-dark" style="width:150px" href="{{ path('app_avis_index') }}"> <i class="icon-reply"></i>Liste des Avis</a>

	                	</div>
					</div>
					<br />
   	<div class="card">
							
							<div class="card-body">
							<div></div>
						

   
 <br>

 {{ include('avis/_form.html.twig', {'button_label': 'Modifier'}) }}

 </div>
 
 </div>
 </div>

{% endblock %}
