{% extends 'base.html.twig' %}

{% block titlepage %}Modifier Catégorie{% endblock %}

{% block content %}

<div class="content">

   <div class="card-header header-elements-inline" style="background-color: #007682b5;">
						<h3 class="card-title" style="color:white">Modifier Catégorie</h3>
						<div class="header-elements">
							 <a class="btn btn-dark" style="width:150px" href="{{ path('app_categorie_index') }}"> <i class="icon-reply"></i>Liste des Catégories</a>
                             
	                	</div>
					</div>
					<br />
   	<div class="card">
							
							<div class="card-body">

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}