{% extends 'base.html.twig' %}


{% block titlepage %}New User{% endblock %}

{% block content %}
	<div class="content">

   <div class="card-header header-elements-inline" style="background-color: #007682b5;">
						<h3 class="card-title" style="color:white">Ajout nouveau Agent</h3>
      <a class="btn btn-dark" style="width:150px" href="{{ path('app_agent_index') }}"> <i class="icon-reply"></i>Liste des Agents</a>

                           </div>
                           <br />
   	<div class="card">
							
							<div class="card-body">

    {{ include('agent/_form.html.twig') }}

{% endblock %}